@page "/files"
@inherits AppPage

<div id="slide-page" class="page" style="@Loader.PageStyles["Files"]">

    <div class="header">
        <div class="header-image" @onclick="@Loader.UnloadLatest">
            <img src="images/back-arrow.svg" />
        </div>
        <div class="header-text">
            @LanguageManager.Get("files")
        </div>
    </div>

    @if(HistoryManager.GetHistoryObjects().Count() == 0)
    {
        <div class="empty-text">
            <span>@LanguageManager.Get("noFilesInHistory")</span>
        </div>
    } else
    {
        <div class="entries-container">
            <div class="entries">
                @foreach (HistoryObject obj in HistoryManager.GetHistoryObjects())
                {
                    <div class="entry">
                        <div class="entry-image">
                            <img src="images/file.svg" />
                        </div>
                        <div class="entry-request">
                            <div class="entry-name">
                                @obj.Name
                            </div>
                            <div class="entry-available">
                                @obj.Type @obj.Date
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

</div>