@page "/main"
@inherits AppPage
@{
    var download = "Download";
    var upload = "Upload";
    var files = "Files";
    var settings = "Settings";
}

<div id="landing-page" class="page" style="@Loader.PageStyles["LandingPage"]">

    <div class="header">
        <div class="language" @onclick="LanguageManager.SwitchLanguage">
            <div class="language-image">
                <img src="images/language.svg" />
            </div>
            <div class="language-text">
                @LanguageManager.Get("name")
            </div>
        </div>
        <div class="welcome">
            <div class="logo">
                <img src="images/logo.svg" />
            </div>
            <span class="welcome-main-text">
                @LanguageManager.Get("welcome")
            </span>
            <span class="welcome-subtext">
                @LanguageManager.Get("subwelcome")
            </span>
        </div>
    </div>
    
    <div class="footer">
        <div class="button" @onclick="(() => Loader.Load(download))">
            <div class="button-image">
                <img src="images/download.svg" />
            </div>
            <span class="button-main-text">
                @LanguageManager.Get("download")
            </span>
            <span class="button-subtext">
                @LanguageManager.Get("downloadDescription")
            </span>
        </div>
        <div class="button" @onclick="(() => Loader.Load(upload))">
            <div class="button-image">
                <img src="images/upload.svg" />
            </div>
            <span class="button-main-text">
                @LanguageManager.Get("upload")
            </span>
            <span class="button-subtext">
                @LanguageManager.Get("uploadDescription")
            </span>
        </div>
        <div class="button" @onclick="(() => Loader.Load(files))">
            <div class="button-image">
                <img src="images/files.svg" />
            </div>
            <span class="button-main-text">
                @LanguageManager.Get("files")
            </span>
            <span class="button-subtext">
                @LanguageManager.Get("filesDescription")
            </span>
        </div>
        <div class="button" @onclick="(() => Loader.Load(settings))">
            <div class="button-image">
                <img src="images/settings.svg" />
            </div>
            <span class="button-main-text">
                @LanguageManager.Get("settings")
            </span>
            <span class="button-subtext">
                @LanguageManager.Get("settingsDescription")
            </span>
        </div>
    </div>

</div>