@page "/settings"
@inherits AppPage
@code {

    int port = SettingsManager.Port;
    int callbackPort = SettingsManager.CallbackPort;
    int maxBytesPerPacket = SettingsManager.MaxBytesPerPacket;
    string samePortWarning = "none";
    bool listenForNewFilesChecked = SettingsManager.ListenForNewFiles;

    private void SetPort(string port)
    {
        try
        {
            samePortWarning = "none";
            SettingsManager.Port = int.Parse(port);
            if (SettingsManager.Port <= 0)
            {
                throw new Exception();
            }
            CheckSamePort();
            this.port = SettingsManager.Port;
        } catch(Exception)
        {
            SettingsManager.Port = SettingsManager.Default.Port;
        }
    }

    private void SetCallbackPort(string callbackPort)
    {
        try
        {
            samePortWarning = "none";
            SettingsManager.CallbackPort = int.Parse(callbackPort);
            if (SettingsManager.CallbackPort <= 0)
            {
                throw new Exception();
            }
            CheckSamePort();
            this.callbackPort = SettingsManager.CallbackPort;
        } catch (Exception)
        {
            SettingsManager.CallbackPort = SettingsManager.Default.CallbackPort;
        }
    }

    private void CheckSamePort()
    {
        if(SettingsManager.CallbackPort == SettingsManager.Port)
        {
            samePortWarning = "block";
            throw new Exception();
        }
    }

    private void SetMaxBytesPerPacket(string maxBytesPerPacket)
    {
        try
        {
            SettingsManager.MaxBytesPerPacket = int.Parse(maxBytesPerPacket);
            if (SettingsManager.MaxBytesPerPacket <= 0)
            {
                throw new Exception();
            }
            this.maxBytesPerPacket = SettingsManager.MaxBytesPerPacket;
            Shared.MaxDataSize = SettingsManager.MaxBytesPerPacket;
        } catch (Exception)
        {
            SettingsManager.MaxBytesPerPacket = SettingsManager.Default.MaxBytesPerPacket;
        }
    }

    private void SwitchListenForNewFiles()
    {
        bool listenForNewFiles = SettingsManager.ListenForNewFiles;
        if (listenForNewFiles)
        {
            listenForNewFiles = false;
            CommunicationManager.StopClient();
        } else
        {
            listenForNewFiles = true;
        }
        SettingsManager.ListenForNewFiles = listenForNewFiles;
        if (listenForNewFiles)
        {
            var _client = CommunicationManager.Client; // Start client
        }
    }

    private void ClearHistory()
    {
        SettingsManager.History = "";
    }

}

<div id="slide-page" class="page" style="@Loader.PageStyles["Settings"]">

    <div class="header">
        <div class="header-image" @onclick="@Loader.UnloadLatest">
            <img src="images/back-arrow.svg" />
        </div>
        <div class="header-text">
            @LanguageManager.Get("settings")
        </div>
    </div>

    <div class="options-container">
        <div class="options">
            <div class="option">
                <div class="option-label">
                    @LanguageManager.Get("port")
                </div>
                <div class="option-input">
                    <input type="number" value="@port" @oninput="(EventArgs) => { SetPort(EventArgs.Value.ToString()); }" />
                </div>
            </div>
            <div class="option">
                <div class="option-label">
                    @LanguageManager.Get("callbackPort")
                </div>
                <div class="option-input">
                    <input type="number" value="@callbackPort" @oninput="(EventArgs) => { SetCallbackPort(EventArgs.Value.ToString()); }" />
                </div>
            </div>
            <sup class="option-warning" style="display: @samePortWarning">@LanguageManager.Get("samePortsWarning")</sup>
            <div class="option">
                <div class="option-label">
                    @LanguageManager.Get("maxBytesPerPacket")
                </div>
                <div class="option-input">
                    <input type="number" value="@maxBytesPerPacket" @oninput="(EventArgs) => { SetMaxBytesPerPacket(EventArgs.Value.ToString()); }" />
                </div>
            </div>
            <sup class="option-warning" style="color: var(--font-subcolor);text-align:center;">@LanguageManager.Get("maxBytesInfo")</sup>
            <div class="option">
                <div class="option-label option-label-checkbox">
                    @LanguageManager.Get("listenForNewFiles")
                </div>
                <div class="option-input option-input-checkbox">
                    @if(listenForNewFilesChecked)
                    {
                        <input type="checkbox" @onclick="SwitchListenForNewFiles" checked />
                    } else
                    {
                        <input type="checkbox" @onclick="SwitchListenForNewFiles" />
                    }
                </div>
            </div>
            <button class="option-button" @onclick="ClearHistory">@LanguageManager.Get("clearFilesLog")</button>
        </div>
    </div>

</div>